{
  "openapi": "3.0.1",
  "info": {
    "title": "Sunwave API",
    "version": "v1.0.0",
    "description": "This is the API documentation used for the integration of phone systems with the Sunwave Platform. You can find out more about Sunwave at [http://www.sunwavehealth.com](http://www.sunwavehealth.com). For this API, you must use use the api keys provided by Sunwave for authorization.\n\nBase URLs:\n- [https://emr.sunwavehealth.com/SunwaveEMR](https://emr.sunwavehealth.com/SunwaveEMR)\n- [Terms of service](https://www.sunwavehealth.com/terms-and-conditions/) Email: [Support](mailto:info@sunwavehealth.com)\n\n# Digest Authentication:\n- **Authorization Header** \n  - Authorization: Digest $token\n  \n  GET requests: \n  **seed** = user_id:client_id:dateTimeBase64:clinic_id:unique_transaction_id\n  \n  POST requests: \n  **seed** = user_id:client_id:dateTimeBase64:clinic_id:unique_transaction_id:Base64Encode(md5Hex(payload))\n  \n  **token** = **seed**:JWT.hmac(**seed**, **client_secret**)\n  \n- **Parameters**\n  - **user_id**: The use's account for Sunwave Health. It must have an email to be used for this validation.\n  - **client_id**: The unique identifier we assign to user of external API call. Random 32 character string             generated using custom Sunwave Health algorithm.\n  - **client_secret**: Secret we assign to the user of the Rest API. It is 256 characters randomly generated by custom algorithm.\n  - **dateTimeBase64**: Base64 encoded of the GMT DateTime string formatted as \"EEE, d MMM yyyy HH:mm:ss Z\"\n    Example: Thu, 8 Sep 2022 19:34:06 +0000\n  - **clinic_id**: Realm to the user id is to be validated against.\n  - **unique_transaction_id**: A unique id the customer generates for each transaction.Can not be reused."
  },
  "servers": [
    {
      "url": "https://emr.sunwavehealth.com/SunwaveEMR"
    }
  ],
  "paths": {
    "/phoneWebHook": {
      "get": {
        "tags": [
          "Sunwave Phone Web Hook"
        ],
        "summary": "Notify users of incoming phone calls",
        "operationId": "phoneWebHook",
        "parameters": [
          {
            "name": "sunwave_private_key",
            "in": "query",
            "description": "Sunwave provided private key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sunwave_public_key",
            "in": "query",
            "description": "Sunwave provided public key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ANI",
            "in": "query",
            "description": "Caller ID. This is the phone number of the client that is dialing the treatment center",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Sunwave identifier of the campaign corresponding to the incoming phone call",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_name",
            "in": "query",
            "description": "Name descriptive of the campaign corresponding to the incoming phone call",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "station_id",
            "in": "query",
            "description": "Identifier of the user's station to which the phone call is being routed to. If the call is to be broadcasted to all the stations, this parameter should have the value BROADCAST",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processed Successfully"
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/lead": {
      "post": {
        "tags": [
          "Lead"
        ],
        "summary": "Add a new lead",
        "description": "",
        "operationId": "addLead",
        "parameters": [
          {
            "name": "sunwave_private_key",
            "in": "query",
            "description": "Sunwave provided private key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sunwave_public_key",
            "in": "query",
            "description": "Sunwave provided public key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "Operation identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Lead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed Successfully"
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/account/{id}/timeline": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve a list of timeline data",
        "operationId": "getAccountTimeline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 51
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineActivity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/assessments/add": {
      "post": {
        "tags": [
          "Assessments"
        ],
        "summary": "Add assessment answers",
        "operationId": "addAssessment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Assessment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/bedboard/buildings": {
      "get": {
        "tags": [
          "Bedboard"
        ],
        "summary": "Retrieve a list of bedboards by clinic",
        "operationId": "getBedboards",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BedboardBuildings"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/billing/arreport/from/{from}/until/{until}/billingentityid/{billingId}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve a list of billing reports within a period of time",
        "operationId": "getBilling",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          },
          {
            "name": "billingId",
            "in": "path",
            "description": "Billing ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 72
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/billing/arreportsummary/from/{from}/until/{until}/billingentityid/{billingId}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve a summary list of billing reports within a period of time",
        "operationId": "getSummaryBilling",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          },
          {
            "name": "billingId",
            "in": "path",
            "description": "Billing ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 72
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/paymentsreport/paymentDate/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve a list of payments within a period of time",
        "operationId": "paymentsReportByPaymentDate",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/paymentsreport/depositDate/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve a list of payments within a period of time",
        "operationId": "paymentsReportByDepositDate",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/census/active/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Census"
        ],
        "summary": "Retrieve a list of all active census data",
        "operationId": "getActive",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Census"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/census/admitted/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Census"
        ],
        "summary": "Retrieve a list of all admitted census data",
        "operationId": "getAdmitted",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Census"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/census/discharged/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Census"
        ],
        "summary": "Retrieve a list of all discharged census data",
        "operationId": "getDischarged",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2018-11-01"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-15"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Census"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve list of forms by clinic",
        "operationId": "getForms",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormStandardResponse"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/admissions/{admissionId}/patients/{patientId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an admission form based on formId",
        "operationId": "getAdmissionForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 93
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 787
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 648
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json-singular_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              },
              "application/json-n_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormInstance"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/admissions/{admissionId}/patients/{patientId}/month/{month}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an admission form based on formId and the specified month",
        "operationId": "getMarsForms",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 202
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 787
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 648
          },
          {
            "name": "month",
            "in": "path",
            "description": "Month: mm-yyyy",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "11-2018"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json-singular_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              },
              "application/json-n_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormInstance"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/instances/{formInstanceId}/admissions/{admissionId}/patients/{patientId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an instance from a admission n-form",
        "operationId": "getAdmissionNForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 93
          },
          {
            "name": "formInstanceId",
            "in": "path",
            "description": "Instance ID of Form: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 186825
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 787
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 648
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/opportunities/{opportunityId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an opportunity form based on formId",
        "operationId": "getOpportunityForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 4
          },
          {
            "name": "opportunityId",
            "in": "path",
            "description": "Opportunity ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 372
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json-singular_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              },
              "application/json-n_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormInstance"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/instances/{formInstanceId}/opportunities/{opportunityId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an instance from a opportunity n-form",
        "operationId": "getOpportunityNForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 202
          },
          {
            "name": "formInstanceId",
            "in": "path",
            "description": "Instance ID of Form: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 186825
          },
          {
            "name": "opportunityId",
            "in": "path",
            "description": "Opportunity ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 372
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/referrals/{referralId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an referral form based on formId",
        "operationId": "getReferralsForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json-singular_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              },
              "application/json-n_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormInstance"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/instances/{formInstanceId}/referrals/{referralId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an instance from a referral n-form",
        "operationId": "getReferralsNForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 202
          },
          {
            "name": "formInstanceId",
            "in": "path",
            "description": "Instance ID of Form: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 70848
          },
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 379
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an account form based on formId",
        "operationId": "getAccountForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 202
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 334
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json-singular_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              },
              "application/json-n_form": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormInstance"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/forms/{formId}/instances/{formInstanceId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve an instance from a account n-form",
        "operationId": "getAccountNForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "Form ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 202
          },
          {
            "name": "formInstanceId",
            "in": "path",
            "description": "Instance ID of Form: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 70848
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 334
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSectionEntity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/addforminpatientchart": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a patient chart form",
        "operationId": "addFormInPatientChart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientForm"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/getgroupnotes/{date}": {
      "get": {
        "tags": [
          "Groupnotes"
        ],
        "summary": "Retrieve a list of group notes based on date",
        "operationId": "getGroupNotes",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date format: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2019-10-24"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupNotes"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/opportunities/{searchBy}/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Retrieve a list of opportunities",
        "operationId": "getOpportunities",
        "parameters": [
          {
            "name": "searchBy",
            "in": "path",
            "description": "Context of dates: createdon | targetadmissiondate | admissiondate | abandoneddate | lostdate",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "createdon"
          },
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-12-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Opportunities"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/opportunities/{status}/{operation}/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Retrieve a list of opportunities by status",
        "operationId": "getOpportunitiesByStatus",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "description": "Status of opportunities: active | admitted | scheduled | lost | abandoned | admittedlegacy",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "operation",
            "in": "path",
            "description": "Context of dates: createdon | targetadmissiondate | admissiondate |  abandoneddate | lostdate | scheduledadmissiondate",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "createdon"
          },
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-12-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Opportunities"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/opportunities/{id}/timeline": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Retrieve a list of opportunities timeline",
        "operationId": "getOpportunitiesTimeline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for selected opportunities: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OpportunitiesTimeline"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/opportunity": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Add and schedule a new opportunity.",
        "operationId": "addOpportunity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOpportunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": []
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/patients/{patientId}/admission/{admissionId}/diagnosis": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve the list of diagnostic codes for the patient",
        "operationId": "getDiagnosisByPatientAdmission",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3017
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3598
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientDiagnosis"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/patients/{patientId}/admission/{admissionId}/release_of_information_contacts": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve the list of contacts authorized by the patient for the release of information.",
        "operationId": "release_of_information_contacts",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3017
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3598
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReleaseOfInformationContacts"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/patients/{patientId}/admission/{admissionId}/form/{formId}/hl7/{resultId}": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve lab result by Id",
        "operationId": "getLabResultById",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2911
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3362
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Lab Result Form Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 162
          },
          {
            "name": "resultId",
            "in": "path",
            "description": "Lab Result Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 4626
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": [
                  {
                    "hl7": "MSH|^~\\&|MAS|||9070|201609142143||ORU^R01^ORU_R01|09142143314640083|P|2.5.1|||NE|NE|||||LRI_NG_..."
                  },
                  {
                    "label": "Signatures",
                    "fields": [
                      {
                        "valueId": "",
                        "name": "Signatures",
                        "uuid": "form_signatures",
                        "value": [
                          {
                            "date": "12/27/2022 06:56:03 PM",
                            "is_revoke_sig": "",
                            "full_user_name": "Adams Dell, ADA",
                            "signatureId": "1372",
                            "guid": "",
                            "user": "Adams Dell, ADA",
                            "created_by": "sunwave-admin1",
                            "signature_type": "User"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/patients/{patientId}/admission/{admissionId}/form/{formId}/hl7": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve patient Lab Results List",
        "operationId": "getLabResultsByPatientAdmission",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1962
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3210
          },
          {
            "name": "formId",
            "in": "path",
            "description": "Lab Result Form Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 162
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientLabResult"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/patients/{patientId}/picture": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve patient photo in Base64",
        "operationId": "getPatientPicture",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3017
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientPicture"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/patients/{patientId}/admission/{admissionId}/programs": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve a list of patient programs",
        "operationId": "getProgramsByPatientAdmission",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Patient Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1962
          },
          {
            "name": "admissionId",
            "in": "path",
            "description": "Admission Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3210
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientProgram"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/{referralId}": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Get a referral source by Id",
        "operationId": "fetchReferralsById",
        "parameters": [
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral Source Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 51
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Referral"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/status/{status}": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Retrieve a list of referral sources filtered by status",
        "operationId": "fetchReferralsByStatus",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "description": "Available values: active | inactive",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Referral"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/{referralId}/contacts": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Retrieve the contact list from a referral source",
        "operationId": "fetchReferralsContacts",
        "parameters": [
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral Source Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 51
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferralContact"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/{referralId}/{patientStatus}": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Retrieve patients from the referral source filtered by status",
        "operationId": "fetchReferralsPatientsInOut",
        "parameters": [
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral Source Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 51
          },
          {
            "name": "patientStatus",
            "in": "path",
            "description": "Available values: patientsin | patientsout",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": []
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/{referralId}/contact/{referralContactId}/timeline": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Retrieve the timeline for a referral source contact",
        "operationId": "getReferralContactTimeline",
        "parameters": [
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral Source Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 51
          },
          {
            "name": "referralContactId",
            "in": "path",
            "description": "Referral Contact Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineActivity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/{referralId}/timeline": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Retrieve the timeline for a referral source",
        "operationId": "getReferralTimeline",
        "parameters": [
          {
            "name": "referralId",
            "in": "path",
            "description": "Referral Source Id: [0-9]+",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 51
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineActivity"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/referrals/timeline/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Retrieve the dynamic timeline report for a referral source",
        "operationId": "getReferralTimelineDynamicReport",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start Date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-10-24"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End Date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2020-11-05"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeLineDynamicReport"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/reports/auth_days/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve all auth days reports within 31 days",
        "operationId": "getAuthDays",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-12-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthDays"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/reports/deleted_forms/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve all deleted forms reports within 15 days",
        "operationId": "getDeletedForms",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-12-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeletedForms"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/reports/diagnosis_changes/from/{from}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve all diagnosis changes reports 15 days from the current date",
        "operationId": "getDiagnosisChanges",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Date format: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiagnosisChanges"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/reports/modified_forms/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get all modified forms reports within a period of 15 days",
        "operationId": "getModifiedForms",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-12-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModifiedForms"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/reports/program_changes/from/{from}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve all program changes reports 15 days from the current date",
        "operationId": "getProgramChanges",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Date format: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramChanges"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/reports/ur_report/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve all ur reports within 31 days",
        "operationId": "getUrReport",
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "description": "Start date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-11-20"
          },
          {
            "name": "until",
            "in": "path",
            "description": "End date: yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-12-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UrReport"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve all users by clinic",
        "operationId": "getUsers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "int64"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "birth_day": {
            "type": "string"
          },
          "caller_first_name": {
            "type": "string"
          },
          "caller_last_name": {
            "type": "string"
          },
          "phone1": {
            "type": "string"
          },
          "phone2": {
            "type": "string"
          },
          "phone3": {
            "type": "string"
          },
          "source_url": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "campaign_name": {
            "type": "string"
          },
          "target_service_facility_id": {
            "type": "integer"
          },
          "target_level_of_care": {
            "type": "integer"
          }
        },
        "description": "Order"
      },
      "TimelineActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Activity Id",
            "example": "200"
          },
          "entity": {
            "type": "string",
            "description": "Entity",
            "example": "sw_timeline_log"
          },
          "text": {
            "type": "string",
            "description": "Comment, description, or content corresponding to the type of activity (Email, Call, Sms, Task, Workflow, Note, Meeting, Wave).",
            "example": "The patient cannot be contacted."
          },
          "editable": {
            "type": "string",
            "description": "Activity can be edited",
            "example": "true"
          },
          "type": {
            "type": "string",
            "description": "Activity Type (Email, Call, Sms, Meeting, Task, Workflow, Note, Wave)",
            "example": "Call"
          },
          "workflow_status": {
            "type": "string",
            "description": "Workflow Status apply only when the Activity Type is Workflow",
            "example": "Upcoming / Entered"
          },
          "from_phone": {
            "type": "string",
            "description": "SMS sender's phone number",
            "example": "7863388662"
          },
          "to_phone": {
            "type": "string",
            "description": "SMS recipient phone number",
            "example": "2105522458"
          },
          "created_by_name": {
            "type": "string",
            "description": "Username that created this activity",
            "example": "John Smith"
          },
          "contact_id": {
            "type": "string",
            "description": "Contact Id",
            "example": "302"
          },
          "contact_display": {
            "type": "string",
            "description": "Contact Name",
            "example": "John Smith"
          },
          "contact_email": {
            "type": "string",
            "description": "Contact Email",
            "example": "contact232@gmail.com"
          },
          "contact_phones": {
            "type": "string",
            "description": "Contact Phones",
            "example": "7863388633, 7863388622"
          },
          "contact_type": {
            "type": "string",
            "description": "Contact Type",
            "example": "patient, caller, referral"
          },
          "associated_contacts": {
            "type": "array",
            "description": "Associated Contacts",
            "example": [
              {
                "id": "404",
                "phones": "7732380550, 5204585644",
                "email": "waino_klocko@gmail.com",
                "display": "Waino Klocko "
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TimelineContact"
            }
          },
          "campaign_name": {
            "type": "string",
            "description": "Campaign Name",
            "example": "December Campaign"
          },
          "google_reminders": {
            "type": "string",
            "description": "Google Calendar Reminders"
          },
          "google_calendar_link": {
            "type": "string",
            "description": "Google Calendar Link"
          },
          "reminder_date_time": {
            "type": "string",
            "description": "Reminder date time",
            "example": "2020-09-02 23:30:00"
          },
          "task_subject": {
            "type": "string",
            "description": "Task Subject",
            "example": "To Do"
          },
          "related_task_id": {
            "type": "string",
            "description": "Related task Id",
            "example": "125"
          },
          "assigned_to": {
            "type": "string",
            "description": "User Id to whom the task was assigned",
            "example": "125"
          },
          "assigned_to_name": {
            "type": "string",
            "description": "User Name to whom the task was assigned",
            "example": "John Smith"
          },
          "task_status": {
            "type": "string",
            "description": "Task Status",
            "example": "Completed"
          },
          "task_type": {
            "type": "string",
            "description": "Task type (Call, Email, Chat, Crete a Text message, To-do)",
            "example": "To-do"
          },
          "task_type_id": {
            "type": "string",
            "description": "Task type Id",
            "example": "1"
          },
          "task_due_date": {
            "type": "string",
            "description": "Task due date",
            "example": "2022-12-01 10:00:00"
          },
          "task_completed_on": {
            "type": "string",
            "description": "Task completed on",
            "example": "11/28/2022 06:15:27 PM"
          },
          "activity_date": {
            "type": "string",
            "description": "Activity Date",
            "example": "11/28/2022 05:56:39 PM"
          },
          "call_outcome": {
            "type": "string",
            "description": "Call Outcome (No answer, Busy, Wrong number, Left a voicemail, Connected)",
            "example": "No answer"
          },
          "call_direction": {
            "type": "string",
            "description": "Call Direction (inbound, outbound)",
            "example": "inbound"
          },
          "caller_id": {
            "type": "string",
            "description": "Caller's phone number",
            "example": "7863388633"
          },
          "created_by": {
            "type": "string",
            "description": "The Id of the user who registered the activity or 'system' if the activity was registered automatically.",
            "example": "25"
          },
          "created_on": {
            "type": "string",
            "description": "Created On",
            "example": "10/17/2022 11:20:35 AM"
          },
          "associated_with": {
            "type": "string",
            "description": "Relationship with the patient.",
            "example": "Opportunity, Admission, Lead, Referral, etc."
          },
          "associated_with_id": {
            "type": "string",
            "description": "Patient Id",
            "example": "122"
          }
        },
        "description": "Timeline Activity response object"
      },
      "TimelineContact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact Id",
            "example": "404"
          },
          "phones": {
            "type": "string",
            "description": "Phones",
            "example": "7732380550, 5204585644"
          },
          "email": {
            "type": "string",
            "description": "Email",
            "example": "waino_klocko@gmail.com"
          },
          "display": {
            "type": "string",
            "description": "Full Name",
            "example": "Waino Klocko"
          }
        },
        "description": "Timeline Contact response object",
        "example": [
          {
            "id": "404",
            "phones": "7732380550, 5204585644",
            "email": "waino_klocko@gmail.com",
            "display": "Waino Klocko "
          }
        ]
      },
      "AssessmentAnswer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Answer Id",
            "example": "525"
          },
          "answer": {
            "type": "string",
            "description": "Answer",
            "example": "Very Unsatisfied"
          },
          "question_id": {
            "type": "string",
            "description": "Question Id",
            "example": "1"
          }
        },
        "description": "Assessment Answer object",
        "example": [
          {
            "answer": "Regular",
            "question_id": "0"
          },
          {
            "answer": "Very Unsatisfied",
            "question_id": "1"
          }
        ]
      },
      "AssessmentQuestion": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "array",
            "description": "Answer",
            "example": "[\"Negative\",\"Regular\",\"Good\",]",
            "items": {
              "type": "string",
              "description": "Answer",
              "example": "[\"Negative\",\"Regular\",\"Good\",]"
            }
          },
          "question": {
            "type": "string",
            "description": "Question",
            "example": "General Service Evaluation"
          },
          "question_id": {
            "type": "string",
            "description": "Question Id",
            "example": "1"
          }
        },
        "description": "Assessment Question object",
        "example": [
          {
            "answer": [
              "Negative",
              "Regular",
              "Good"
            ],
            "question": "General Service Evaluation",
            "question_id": 0
          },
          {
            "answer": [
              "Negative",
              "Satisfied",
              "Very unsatisfied"
            ],
            "question": "Customer Satisfaction",
            "question_id": 1
          }
        ]
      },
      "AssessmentResponse": {
        "type": "object",
        "properties": {
          "inserted_answers": {
            "type": "array",
            "description": "Inserted Answers",
            "example": [
              {
                "answer": "Regular",
                "id": "875",
                "question_id": "0"
              },
              {
                "answer": "Very Unsatisfied",
                "id": "876",
                "question_id": "1"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssessmentAnswer"
            }
          },
          "invalid_answers": {
            "type": "array",
            "description": "Invalid Answers",
            "example": [
              {
                "answer": "other",
                "id": "",
                "question_id": "1"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssessmentAnswer"
            }
          },
          "question_possible_answers": {
            "type": "array",
            "description": "Question and Possible Answers",
            "example": [
              {
                "answer": [
                  "Negative",
                  "Regular",
                  "Good"
                ],
                "question": "General Service Evaluation",
                "question_id": 0
              },
              {
                "answer": [
                  "Negative",
                  "Satisfied",
                  "Very unsatisfied"
                ],
                "question": "Customer Satisfaction",
                "question_id": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssessmentQuestion"
            }
          }
        },
        "description": "Assessment Creation response object"
      },
      "Assessment": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string",
            "description": "Entity (admission, opportunity, account or referral)",
            "example": "admission"
          },
          "admission_id": {
            "type": "string",
            "description": "Admission Id",
            "example": "3579"
          },
          "patient_id": {
            "type": "string",
            "description": "Patient Id",
            "example": "3000"
          },
          "opportunity_id": {
            "type": "string",
            "description": "Opportunity Id",
            "example": "105"
          },
          "account_id": {
            "type": "string",
            "description": "Account Id",
            "example": "112"
          },
          "referral_id": {
            "type": "string",
            "description": "Referral Id",
            "example": "252"
          },
          "form_id": {
            "type": "string",
            "description": "Form Id",
            "example": "202"
          },
          "date": {
            "type": "string",
            "description": "Date",
            "example": "2022-12-06"
          },
          "assessment_uuid": {
            "type": "string",
            "description": "Unique Id of the assessment component",
            "example": "a8c809b4-4d9b-493a-b4ef-2fe17f5b40ed"
          },
          "answers": {
            "type": "array",
            "description": "Date",
            "example": [
              {
                "answer": "Regular",
                "question_id": "0"
              },
              {
                "answer": "Very Unsatisfied",
                "question_id": "1"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssessmentAnswer"
            }
          }
        },
        "description": "Assessment creation object"
      },
      "Bed": {
        "type": "object",
        "properties": {
          "insurance": {
            "type": "string",
            "description": "Insurance"
          },
          "allergies": {
            "type": "string",
            "description": "Allergies"
          },
          "precautions": {
            "type": "string",
            "description": "Precautions"
          },
          "patientGender": {
            "type": "string",
            "description": "Patiant Gender",
            "example": "M"
          },
          "referalSource": {
            "type": "string",
            "description": "Referral Source",
            "example": "null"
          },
          "checkin": {
            "type": "string",
            "description": "Check In"
          },
          "referalDestination": {
            "type": "string",
            "description": "Referral Destination"
          },
          "plannedDischarge": {
            "type": "string",
            "description": "Planned Discharged",
            "example": "2020-09-05"
          },
          "checkout": {
            "type": "string",
            "description": "Check Out"
          },
          "admissionDate": {
            "type": "string",
            "description": "Admission Date",
            "example": "2021-01-13"
          },
          "mri": {
            "type": "string",
            "description": "MRI",
            "example": "2033"
          },
          "bedId": {
            "type": "string",
            "description": "Bed Id",
            "example": "190"
          },
          "fullName": {
            "type": "string",
            "description": "Full Name",
            "example": "TEST, TASKTEN"
          },
          "labels": {
            "type": "string",
            "description": "Labels"
          },
          "q": {
            "type": "string",
            "description": "q",
            "example": "30"
          },
          "room_id": {
            "type": "string",
            "description": "Room Id",
            "example": "102"
          },
          "building_id": {
            "type": "string",
            "description": "Building Id",
            "example": "15"
          },
          "reserved_until": {
            "type": "string",
            "description": "Reserved Until",
            "example": "null"
          },
          "checkin_id": {
            "type": "string",
            "description": "Check in Id",
            "example": "38"
          },
          "reserved_by": {
            "type": "string",
            "description": "Reserved by",
            "example": "null"
          },
          "bed_name": {
            "type": "string",
            "description": "Bed Name",
            "example": "a"
          },
          "reserved_for_account_id": {
            "type": "string",
            "description": "Reserved for account id"
          },
          "bed_statuses": {
            "type": "array",
            "description": "Bed Statuses",
            "items": {
              "$ref": "#/components/schemas/BedStatus"
            }
          },
          "patient_id": {
            "type": "string",
            "description": "patient_id",
            "example": "3075"
          },
          "reserved_for_name": {
            "type": "string",
            "description": "Reserved for name",
            "example": "null"
          }
        },
        "description": "Bed board response object"
      },
      "BedStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id",
            "example": "100"
          },
          "name": {
            "type": "string",
            "description": "Name"
          },
          "status": {
            "type": "string",
            "description": "Status"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "last_modified_by": {
            "type": "string",
            "description": "Last Modified by"
          },
          "last_modified_on": {
            "type": "string",
            "description": "Last Modified on"
          },
          "clinic_id": {
            "type": "string",
            "description": "Clinic Id",
            "example": "109"
          }
        },
        "description": "Bed board response object",
        "example": null
      },
      "BedboardBuildings": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "User ID",
            "example": "404"
          },
          "rooms": {
            "type": "array",
            "description": "Array of Rooms",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          },
          "building_name": {
            "type": "string",
            "description": "Building Name",
            "example": "Detox Building 1"
          },
          "requires_check_in": {
            "type": "boolean",
            "description": "Requires check in",
            "example": true
          },
          "max_number_of_beds": {
            "type": "integer",
            "description": "Max beds",
            "format": "int32",
            "example": 10
          }
        },
        "description": "Bed board response object"
      },
      "Room": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name",
            "example": "Room 1"
          },
          "id": {
            "type": "string",
            "description": "id",
            "example": "109"
          },
          "beds": {
            "type": "array",
            "description": "Array of beds.",
            "items": {
              "$ref": "#/components/schemas/Bed"
            }
          },
          "room_gender": {
            "type": "string",
            "description": "Room Gender"
          }
        },
        "description": "Room"
      },
      "Payment": {
        "type": "object",
        "properties": {
          "adjustment_type": {
            "type": "string",
            "description": "Adjustment Type",
            "example": "Write Off"
          },
          "admission_service_facility": {
            "type": "string",
            "description": "Admission Service Facility",
            "example": "Sunwave Test"
          },
          "billing_facility": {
            "type": "string",
            "description": "Billing Facility",
            "example": "Sunwave Test"
          },
          "billing_facility_id": {
            "type": "string",
            "description": "Billing FacilityId",
            "example": "10"
          },
          "check_number": {
            "type": "string",
            "description": "Check Number",
            "example": "5542254"
          },
          "claim_id": {
            "type": "string",
            "description": "Claim Id",
            "example": "155655"
          },
          "claim_status": {
            "type": "string",
            "description": "Claim Status",
            "example": "Submitted"
          },
          "clearing_house_file_id": {
            "type": "string",
            "description": "Clearing Huse File Id",
            "example": "5568"
          },
          "clearing_house_file_name": {
            "type": "string",
            "description": "Clearing House File Name",
            "example": "720edbf2-56a7-448a-a189-517279baea32.835.zip"
          },
          "credit_card_transaction_id": {
            "type": "string",
            "description": "Credit Card Transaction Id",
            "example": "ch_3OmALmFWfe9MX1JZ2KqLYXQz"
          },
          "debit_type": {
            "type": "string",
            "description": "Debit Type",
            "example": "Charge for taxi service"
          },
          "deposit_date": {
            "type": "string",
            "description": "Deposit Date",
            "example": "2024-02-21"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "Intensive Outpatient Treatment"
          },
          "editable": {
            "type": "string",
            "description": "The payment is editable",
            "example": "false"
          },
          "eob_hold": {
            "type": "string",
            "description": "EOB Hold",
            "example": "false"
          },
          "expected_payment": {
            "type": "string",
            "description": "Expected Payment",
            "example": "1850.00"
          },
          "insurance_provider_id": {
            "type": "string",
            "description": "Pnsurance Provider Id",
            "example": "10"
          },
          "Interest": {
            "type": "string",
            "description": "Interest",
            "example": "0.00"
          },
          "level_of_care": {
            "type": "string",
            "description": "Level of Care",
            "example": "IOP"
          },
          "line_adjusted": {
            "type": "string",
            "description": "Line Adjusted",
            "example": "1973.90"
          },
          "line_adjusted_reason": {
            "type": "string",
            "description": "Line Adjusted Reason",
            "example": "CO-96 N428"
          },
          "line_allocated_amount": {
            "type": "string",
            "description": "Line Allocated Amount",
            "example": "350.50"
          },
          "line_allowed": {
            "type": "string",
            "description": "Line Allowed",
            "example": "350.50"
          },
          "line_charge_amount": {
            "type": "string",
            "description": "Line Charge Amount",
            "example": "400.00"
          },
          "line_claim_id": {
            "type": "string",
            "description": "Line Claim Id",
            "example": "56510"
          },
          "line_coinsurance": {
            "type": "string",
            "description": "Line Coinsurance",
            "example": "70.00"
          },
          "line_copay": {
            "type": "string",
            "description": "Line Copay",
            "example": "10.00"
          },
          "line_deductible": {
            "type": "string",
            "description": "Line Deductible",
            "example": "300.00"
          },
          "line_denied_comments": {
            "type": "string",
            "description": "Line Denied Comments",
            "example": "Denied comments"
          },
          "line_denied_reason": {
            "type": "string",
            "description": "Line Denied Reason",
            "example": "Denied Reason"
          },
          "line_eob_type": {
            "type": "string",
            "description": "Line EOB Type",
            "example": "PR"
          },
          "line_paid_amount": {
            "type": "string",
            "description": "Line Paid Amount",
            "example": "150.00"
          },
          "line_patient_date_of_birth": {
            "type": "string",
            "description": "Line Patient Date of Birth",
            "example": "19680801"
          },
          "line_patient_mri": {
            "type": "string",
            "description": "Line Patient Mri",
            "example": "3148"
          },
          "line_patient_name": {
            "type": "string",
            "description": "line Patient Name",
            "example": "Walter Brown"
          },
          "other_reference_number": {
            "type": "string",
            "description": "Other Reference Number",
            "example": "201402262323"
          },
          "paid_to_patient_amount": {
            "type": "string",
            "description": "Paid to Patient Amount",
            "example": "0.00"
          },
          "patient_payment_mri": {
            "type": "string",
            "description": "Patient Payment MRI",
            "example": "2011"
          },
          "payer_name": {
            "type": "string",
            "description": "Payer Name",
            "example": "Allied"
          },
          "payment_category": {
            "type": "string",
            "description": "Payment Category",
            "example": "Treatment"
          },
          "payment_date": {
            "type": "string",
            "description": "Payment Date",
            "example": "2024-02-21"
          },
          "payment_from": {
            "type": "string",
            "description": "Payment From",
            "example": "Insurance"
          },
          "payment_id": {
            "type": "string",
            "description": "Payment Id",
            "example": "5245"
          },
          "payment_line_created_on": {
            "type": "string",
            "description": "Payment Line Created On",
            "example": "2023-04-20 13:59:12.0"
          },
          "payment_line_id": {
            "type": "string",
            "description": "Payment Line Id",
            "example": "62323"
          },
          "payment_plan_id": {
            "type": "string",
            "description": "Payment Plan Id",
            "example": "5264"
          },
          "payment_plan_opportunity_id": {
            "type": "string",
            "description": "Payment Plan Opportunity Id",
            "example": "1045"
          },
          "payment_plan_patient_date_of_birth": {
            "type": "string",
            "description": "Payment Plan Patient Date Of Birth",
            "example": "1995-10-28"
          },
          "payment_plan_patient_name": {
            "type": "string",
            "description": "Payment Plan Patient Name",
            "example": "Abraham Nichols"
          },
          "payment_plan_type": {
            "type": "string",
            "description": "Payment Plan Type",
            "example": "Treatment"
          },
          "payment_received_by": {
            "type": "string",
            "description": "Payment Plan Received By",
            "example": "james@gmail.com"
          },
          "payment_type": {
            "type": "string",
            "description": "Payment Type",
            "example": "Check"
          },
          "procedure_code": {
            "type": "string",
            "description": "Procedure Code",
            "example": "90791"
          },
          "processed_by": {
            "type": "string",
            "description": "Processed By",
            "example": "james@gmail.com"
          },
          "processed_on": {
            "type": "string",
            "description": "Processed On",
            "example": "2023-08-23 21:36:31"
          },
          "referral_source": {
            "type": "string",
            "description": "Referral Source",
            "example": "Fighter Wing"
          },
          "referral_source_account_owner": {
            "type": "string",
            "description": "Referral Source Account Owner",
            "example": "James Corson"
          },
          "remit_total_allocated_amount": {
            "type": "string",
            "description": "Remit Total Allocated Amount",
            "example": "500.00"
          },
          "remit_total_paid_amount": {
            "type": "string",
            "description": "Remit Total Paid Amount",
            "example": "600.00"
          },
          "service_date": {
            "type": "string",
            "description": "Service Date",
            "example": "20200212"
          },
          "service_facility": {
            "type": "string",
            "description": "Service Facility",
            "example": "Recovery Center"
          },
          "service_name": {
            "type": "string",
            "description": "Service Name",
            "example": "Detox"
          },
          "service_units": {
            "type": "string",
            "description": "Service Units",
            "example": "1"
          },
          "variance": {
            "type": "string",
            "description": "Variance",
[...]
